<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    {% block Meta %}{% endblock %}
    <title>{% block Title %}default title{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% block Script %}{% endblock %}
    {% block Style %}{% endblock %}
</head>
<body>
    <div class="main-container">
        {% block Header %}
        <div class="header">
            <div class="brand">学习展示在线工具</div>
            {% for category in category_list %}
            {% if loop.index == 1 %}<div class="item first-category">{{ category.name }}</div>
            {% else %}<div class="item">{{ category.name }}</div>
            {% endif %}
            {% endfor %}
        </div>
        {% endblock %}
        {% block Body %}{% endblock %}
    </div>
    <div class="footer">
        <div class="content-wrap">
            <p>
                <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">津ICP备18010263号-1</a>
            </p>
            <p>
                <span>COPYRIGHT © 2021 学习展示在线工具. ALL RIGHTS RESERVED.</span>
            </p>
        </div>
    </div>
</body>
